* {
    box-sizing: border-box;
}

body {
    background: rgb(35,41,46);
    background: linear-gradient(90deg, rgba(35,41,46,1) 10%, rgba(56,68,87,1) 40%, rgba(56,68,87,1) 60%, rgba(35,41,46,1) 90%);
    animation: fade ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: white;
}

#navbar {
    height: 20vmin;
}

.success {
    color: green;
    transition: all ease-in 2s;
}

.error {
    color: red;
    font-size: 30px;
    transition: all ease-in 2s;
}